/* Add your styles here */
.qwertz{
  border: 1px solid black;
  text-align: center;
  padding-bottom: 300px;
}
body {
  background-color: #64A8D1;
  color: #eee;
  font-family: "Kurale", serif;
  margin: 0px;
  padding: 0px;
}
header{
  background: #3C9DD0;
  padding: 1px;
  text-align: center;
}
h1{
  margin: 0px;
  font-size: 45px;
}
nav{
  background: #3C9DD0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
nav a{
color: #ccc;
text-decoration: none;
padding: 1em;
transition: 0.3s;
}
nav a:hover{
  color: #fff;
  background-color: #447BD4	;
  border-radius: 8px;
}
main{
  padding: 2em;
  max-width: 800px;
  margin: auto;
}

section{
  margin-bottom: 2em;
  border-left: 4px solid #444;
  padding-left: 1em;
  transition: all 0.5s;
}
section:hover{
  border-color: #777;
}
.quest-button{
  background: #104BA9;
  color: #fff;
  padding: 0.7em 1.2em;
  margin-top: 1em;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1em;
  transition: background 0.3;
}
.quest-button:hover{
  background: #0A64A4;
}
.choice-button{
  display: block;
  margin: 1em 0;
  padding: 0.6em 1em;
  background-color: #222;
  color: #ccc;
  border: 1px solid #555;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s;
}
.choice-button:hover{
  background-color: #333;
  color: #fff;
}
@keyframes fadeln {
  from {opacity: 0;}
  to {opacity: 1;}
}
@keyframes slideDown {
  from {transform: translateY(-20px); opacity: 0;}
  to {transform: translateY(0); opacity: 1;}
}
@media {
max-width: 600px;
}
nav{
  flex-direction: column;
}
nav a{
  padding: 0.8em;
  text-align: center;
  border-bottom: 1px solid #333;
}
.angels{
  text-align: center;
}
.ang{
  color: #104BA9;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.one{
  font-size: 25px;
}
.qwerty::after{
  content: "";
   width: 30px;
  height: 30px;
  display: inline-block;
  background: url(https://upload.wikimedia.org/wikipedia/commons/f/f9/Allah_logo.svg);
  background-size: contain;
  color: #104BA9;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 
}
h1{
  text-shadow: -3px -1px 21px rgba(11, 33, 77, 1);
}
.text{
  text-shadow: -3px -1px 14px rgba(41, 51, 71, 1);
}
.boo{
   font-family: "Caveat", cursive;
   text-align: center;
}
.fifi{
  width: 320px;
  height: 400px;
}
.cucumber{
width: 100px;
height: 150px;
}